@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Quicksand&display=swap');

$xsmall: 0.75em;
$small: 1em;
$medium: 1.5em;
$large: 2em;
$xlarge: 2.5em;
$xxlarge: 3em;

$macos-frame-height: 24px;
$windows-frame-height: 30px;

$primary-background: #171A21;
$primary-highlight: #12141B;

$element-highlight: #5d677f;

$primary-text-color: #E4E4E4;

$error-border: #ff2300;
$error_background: #ffe4e4;

$primary-font: 'Lexend Deca', sans-serif;