@import './variables';

#episodeListEntry {
    width: 22vw;
    height: 12vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-block;
    margin-top: 2%;
    position: relative;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
    min-width: 185px;
    min-height: 100px;

    #overlay {
        width: 100%;
        height: 100%;
        background-color: $element-highlight;
        opacity:0;
        transition: .2s opacity;
    }

    #episodeInfoBar {
        background: $primary-background;
        background: linear-gradient(0deg, rgba(23,26,33,1) 0%, rgba(0,212,255,0) 100%);
        width: 100%;
        min-height: 15%;
        color: $primary-text-color;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        box-sizing: border-box;
        font-family: $primary-font;
        text-shadow: 1px 2px black;
        font-size: $xsmall;

        div#episodeName {
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#episodeListEntry:hover {
    #overlay {
        opacity: 0.4;
    }
}

@media screen and (min-width: 1150px) {
    #episodeListEntry {
        #episodeInfoBar {
            font-size: $small;
        }
    }

}

@media screen and (min-width: 1750px) {
    #episodeListEntry {
        width: 16vw;
        height: 9vw;
    }
}