@import './variables';

#headerBarContainer {
    width: 100%; //percent broken for some reason
    position: fixed;
    top: $windows-frame-height;
    left: 0;
    height: 80px;
    background-color: $primary-background;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-bottom: 1px solid $element-highlight;
    box-shadow: 0px 5px 15px 0px $primary-background;

    #userArea {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position:absolute;
        right: 5%;

        #profilePicture {
            width: 60px;
            height: 60px;
            min-height: 60px;
            background: $primary-background;
            border-radius: 15px;
            background-image: url('../../images/default_mugen.jpg');
            background-position: center;
            background-size: cover;
            margin-right: 15px;
        }

        #userInfoArea {
            display:flex;
            flex-direction: column;
            align-items: center;
            #username {
                display: flex;
                justify-content: center;
                font-family: $primary-font;
                font-style: italic;
                color: #5d677f;
                margin-bottom: 5px;
            }
            #userStatus {
                color: $primary-background;
                font-family: $primary-font;
                background-color: $element_highlight;
                width: fit-content;
                border-radius: 3px;

                p {
                    margin-top: 3px;
                    margin-bottom: 3px;
                    margin-left: 5px;
                    margin-right: 5px;
                    font-size: $xsmall;
                }
            }
        }

    }

    #menuToggleButton {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary-highlight;

        .line {
            height: 2px;
            width: 25px;
            background-color: $element_highlight;
            position: relative;
            transition: 1s background-color;
            margin-bottom: 5px;
            transition: background-color .2s linear;
        }

        #one.line{
            top: 0;
        }

        #two.line {
            width: 15px;
            right: 0%;
            position: relative;
            opacity: 1;
            transition: .2s width;
        }

        #three.line {
            bottom: 0;
        }
    }

    #menuToggleButton:hover {
        .line {
            background-color: $primary-text-color;
        }

        #two.line {
            width: 25px;
        }
    }

    #menuToggleButton.open {
        .line {
            transition: 1s background-color;
        }

        #two.line {
            opacity: 0;
        }

        #one.line {
            top: calc(50% - 1px);
            transform: rotate(45deg);
            position: absolute;
        }

        #three.line {
            bottom: calc(50% - 1px);
            transform: rotate(-45deg);
            position: absolute;
        }
    }

    #searchBar {
        background-color: $primary-highlight;
        color: $element-highlight;
        width: 50%;
        height: 50px;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $primary-font;
        font-size: $medium;
        text-align: center;
        letter-spacing: 2px;
        min-width: 300px;
        border-radius: 6px;
       // transition: .2s margin-left, .2s justify-content;
    }

    #searchBar::placeholder {
        text-align: center;
        color: $element-highlight;
    }

}

#headerBarContainer.darwin {
    top: $macos-frame-height;
}

@media screen and (max-width: 1025px) {
    #searchBarContainer.menuOpen {
        justify-content: flex-start;
        #searchBar {
            margin-left: 260px;
        }
    }
}