#homeContainer {
    width: 100%;
    height: calc(100% - 30px);
    margin-top: 30px;

    #contentArea {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        padding-left: 80px;
        padding-top: 80px;
        box-sizing: border-box;
        align-items: center;
        overflow-y:scroll;
    }
}