@import '../styles/variables';

#LoginForm {
    width: 100vw;
    height: 100vh;
    /* max-height: 500px; */
    /* max-width: 625px; */
    min-height: 300px;
    min-width: 375px;
    /* background: #F1F1F1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 750px;
    /* border-radius: 4%/5%; */
    /* box-shadow: 0px 0px 30px -10px #f1f1f1; */

    #left {
        width: 55%;
        height: 100%;
        background: white;
        background-image: url('../../images/login-art.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 5px 0px 15px $primary-highlight;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        #welcomeLabel {
            color: white;
            font-family: "Lexend Deca", sans-serif;
            font-size: 5vw;
            letter-spacing: 6px;
            // position: absolute;
            font-weight: bold;
            // bottom: 6%;
            // right: 6%;
            text-shadow: 0px 2px 9px rgba(0,0,0,.6);
        }
    }

    #right {
        width: 45%;
        height: 100%;
        padding-left: 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            width: 90%;
            min-width: 250px;
            max-height: 100px;
            min-height: 65px;
            height: 8%;
            outline: none;
            border: none;
            background-color: $primary-highlight;
            border-radius: 10px;
            margin-bottom: 30px;
            padding-left: 30px;
            box-sizing: border-box;
            font-size: 1.5em;
            font-family: $primary-font;
            caret-color: $element-highlight;
            color: $element-highlight;
        }

        input::placeholder {
            color: #384054;
        }

        button {
            background: none;
            border: none;
            background: linear-gradient(90deg, #00def4 0%, rgb(0, 78, 255) 100%);
            
            color: #F1F1F1;
            width: 45%;
            max-height: 100px;
            min-height: 65px;
            height: 8%;
            border-radius: 5px;
            font-size: 1.25em;
            min-width: 125px;
            font-family: $primary-font;
            box-shadow: 0px 0px 15px rgb(0, 78, 255, .5);
            opacity: 1;
            transition: .2s opacity;
            outline: none;
        }

        button:hover {
            opacity: .8;
        }
    }
}

@media screen and (min-width: 1250px) {
    #LoginForm {
        #right{
            input {
                font-size: 2em;
            }

            button {
                font-size: 1.5em;
            }
        }
    }
  }

  @media screen and (max-width: 750px) {
    #LoginForm {
        #left{
            #welcomeLabel {
                font-size: 2.35em;
            }
        }
    }
  }