@import './variables.scss';

#menuContainer {
    position: fixed;
    height: 100%;
    width: 80px;
    background-color: $primary-highlight;
    color: $primary-text-color;
    font-family: $primary-font;
    transition: .2s left;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: .2s width;
    bottom: 0;

    #optionsArea {
        position: relative;
        height: 100%;
        padding-top: 110px; //80px for searchbar + 30px for toolbar
        box-sizing: border-box;
        width: 80px;
        left: 0;

        #selectedMark {
            height: 100px;
            width: 10px;
            position: absolute;
            background: rgb(8,2,121);
            background: linear-gradient(0deg, rgba(8,2,121,1) 0%, rgba(56,56,194,1) 35%, rgba(0,212,255,1) 100%);
            transition: .1s top ease-in-out;
        }

        #selectedMark.queue {
            top: 0;
        }

        #selectedMark.browse {
            top: 100px;
        }

        .option {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $medium;
            background: none;
            border: none;
            outline: none;
            color: $primary-text-color;
            letter-spacing: 5px;
            font-family: $primary-font;
        }

        .option#queue {
            background-image: url('../../images/home-icon.png');
            background-size: 35%;
            background-position: center;
            background-repeat: no-repeat;
        }

        .option#browse {
            background-image: url('../../images/browse-icon.png');
            background-size: 35%;
            background-position: center;
            background-repeat: no-repeat;
        }

        .option:hover {
            background-color: $primary-background;
        }

        #logOutButton {
            bottom: 0;
            position: absolute;
            background-image: url('../../images/logout_icon.png');
            background-size: 35%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

#menuContainer.open {
    width: 200px;
}

//animations
@keyframes menuHover {
    0% {width: 60%}
    50% {width: 100%}
    100% {width: 60%}
  }