@import './variables';

#modalContainer {
    width: 12vw;
    height: 4vw;
    min-width: 250px;
    min-height: 80px;
    background: white;
    position: fixed;
    bottom: 5%;
    left: 3%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index:11;
}

div#modalContainer.error {
    border-left: 10px solid $error-border;
    background-color: $error-background;
}