@import './_variables.scss';

#navigationButton {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 5;
    background: none;
    border: none;
    outline: none;
    background-image: url('../../images/back-icon.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#navigationButton:hover {
    background-color: $primary-highlight;
}