@import './_variables.scss';

#searchListContainer {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.75);
    justify-content: center;
    padding-top: 100px;
    box-sizing: border-box;


    #noResults {
        color: white;
        font-size: $medium;
        font-family: $primary-font;
    }

    #listContainer {
        width: 50%;
        height: fit-content;
        max-height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;

        // #searchEntry {
        //     width: 100%;
        //     margin-bottom: 3%;

            .listEntry {
                width: 8vw;
                height: 12vw;
                min-width: 100px;
                min-height: 150px;
                background-position: center;
                background-size: cover;
                max-height: 378px;
                max-width: 250px;
                position: relative;
                box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                margin-bottom: 2%;
                margin-right: 1%;
                margin-left: 1%;

                #overlay {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $element-highlight;
                    transition: .2s opacity;
                    display: block;
                    z-index: 1;
                }

                .queueButton {
                    top: 5px;
                    left: 2.5%;
                    width: 2.5vw;
                    height: 2.5vw;
                    min-width: 20px;
                    min-height: 20px;
                    max-height: 35px;
                    max-width: 35px;
                    position: absolute;
                    z-index: 2;
                    border: none;
                    outline: none;
                    padding: 0;
                    opacity: 0;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
                    transition: .2s .2s width, .2s .2s max-width;

                    .icon {
                        height:2.5vw;
                        width: 2.5vw;
                        min-width: 20px;
                        min-height: 20px;
                        max-height: 35px;
                        max-width: 35px;
                        left: 0;
                        border-radius: inherit;
                        background-position: center;
                        background-size: 60%;
                        background-repeat: no-repeat;

                        #label {
                            display: none; //no label for search result entries
                        }
                    }
                }

                // .queueButton:hover {
                //     // width: 95%;
                //     // max-width: 95%;
                //     // transition: .2s width;

                //     #label {
                //         // width: 100%;
                //         // opacity: 1;
                //         // transition: .2s .2s opacity;
                //     }
                // }

                #queuedIndicator {
                    background-color: green;
                
                    #queuedIcon {
                        background-image: url('../../images/bookmark-icon.png');
                    }
                }

                #queuedIndicator:hover {
                    background-color: darkred;
                }

                #addToQueueButton {
                    background: linear-gradient(90deg, rgba(0,222,244,1) 0%, #004eff 100%);

                    #addIcon {
                        background-image: url('../../images/add-icon.png');
                    }
                }

                #addToQueueButton:hover {
                    background: linear-gradient(90deg, rgb(2, 162, 177) 0%, #004eff 100%);
                }

                #titleBar {
                    background: $primary-background;
                    background: linear-gradient(0deg, rgba(23,26,33,1) 25%, rgba(0,212,255,0) 100%);
                    width: 100%;
                    min-height: 15%;
                    color: $primary-text-color;
                    bottom: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    padding-left: 5%;
                    box-sizing: border-box;
                    font-family: $primary-font;
                    text-shadow: 1px 2px black;
                    font-size: $xsmall;
                }
            }

            .listEntry:hover {
                #overlay {
                    opacity: .3;
                }
                #addToQueueButton {
                    opacity: 1;
                }
                #queuedIndicator {
                    opacity: 1;
                }
            }
        //}
    }

    #listContainer::-webkit-scrollbar {
        width: 0px;
    }
      
}