@import './_variables.scss';

#seriesDetailContainer {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 750px;

    #seriesInformationContainer {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        z-index: 2;

            #seriesCoverImage {
                flex: 1;
                height: fit-content;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                max-width: 330px;

                img {
                    width: 100%;
                    min-width: 160px;
                }
            }

            #seriesInformation {
                flex: 4;
                height: 100%;
                color: $primary-text-color;
                margin-left: 25px;
                max-height: 275px;
                position:relative;

                #seriesTitle {
                    font-family: "Quicksand", sans-serif;
                    font-weight: bold;
                    font-size: $large;
                    margin-bottom: 20px;
                }

                #seriesDescription {
                    color: #8a95af;
                    font-size: $medium;
                    width: 90%;
                    max-height: 70%;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    transition: .5s max-height;
                    background-color: $primary-background;
                    position: relative;
                    margin-bottom: 5px;
                    box-shadow: 0px 5px 15px 0px #171A21;
                }

                #seriesDescription.expanded {
                    max-height: 150%;
                }

                #expandButton {
                    width: 100%;
                    left: 0;
                    bottom: 0px;
                    border: none;
                    outline: none;
                    display:flex;
                    justify-content: center;
                    background-color: $primary-background;
                    transition: .2s background-color;
                    box-shadow: 0px -5px 15px 0px #171A21;
                    border-radius: 12px;

                    #expandIconContainer {
                        width: 30px;
                        height: 30px;
                        background-image: url('../../images/back-icon.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(-90deg);
                        transition: .2s transform;
                    }

                    #expandIconContainer.expanded {
                        transform: rotate(90deg);
                    }
                }

                #expandButton:hover {
                    background-color: $primary-highlight;
                }
            }
    }

    #seriesEpisodesContainer {
        width: 85%;
        display: flex;
        flex-direction: column;
        flex: 1;
        /* font-family: 'Quicksand'; */

        #episodeLabel {
            color: $element-highlight;
            font-size: 2em;
            display: flex;
            justify-content: flex-start;
            margin-left: 2%;
            /* align-items: center; */
            /* text-align: center; */
            /* background: red; */
            font-family: 'Quicksand';
        }

        #episodesList {
            display: flex;
            flex-wrap: wrap;

            #collectionContainer {
                width: 100%;
                
                #collectionTitle {
                    color: $element-highlight;
                    padding-left: 2%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-family: inherit;
                    font-size: 1.25em;
                    font-family: $primary-font;
                }

                #episodesList {
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    min-height: 10vw;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #seriesDetailContainer {
        #seriesInformationContainer {
                #seriesInformation {
                    #seriesTitle {
                        font-size: $medium;
                    }

                    #seriesDescription {
                        color: #8a95af;
                        font-size: $small;
                    }

                }
        }
    }
}

@media screen and (min-width: 1300px) {
    #seriesDetailContainer {
        #seriesInformationContainer {
            #seriesInformation {
                #expandButton {
                    #expandIconContainer {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}
