@import './variables';

#showListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 45px;
    max-height: calc(100% - 80px);

    #sectionTitle {
        color: $element-highlight;
        font-size: $medium;
        letter-spacing: 2px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 2%;
        display: flex;
        justify-content: space-between;

        #filterButton {
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            outline: none;
            margin-right: 2%;
            background-image: url('../../images/filter-icon.png');
            background-size: 90%;
            background-position: center;
            background-repeat: no-repeat;
            display: none; //might remove this button later
        }

        #filterButton:hover {
            background-color: $primary-highlight;
        }
    }

    #sectionWrapper {
        width: 100%;
        min-height: 12vw;
        margin-bottom: 3%;

        #listSection {
            width: 100%;
            min-width: 500px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            #emptyLabel {
                color: $element-highlight;
                font-size: $medium;
                font-family: $primary-font;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        #filtersSection {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            margin-left: 2%;
            transition: .2s height;

            #filter {
                background: none;
                outline: none;
                border: none;
                color: $primary-text-color;
                font-family: $primary-font;
                opacity: 1;
                margin-right: 5%;
                transition: .2s opacity, .2s color;
                font-size: 0.9em;
                padding: 0;
            }

            #filter:hover {
                color: $element-highlight;
            }

            #filter:active {
                color: $element-highlight;
            }

            #filter.selected {
                color: $element-highlight;
            }
        }

        // #filtersSection.open {
        //     height: 50px;

        //     #filter {
        //         display: block;
        //         opacity: 1;
        //     }
        // }

        #loadMoreButtonContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 5%;
            margin-top: 3%;
            
                #loadMoreButton {
                    width: 30%;
                    height: 60px;
                    min-width: 200px;
                    border-radius: 8px;
                    background: none;
                    border: 2px solid orange;
                    border: none;
                    background: linear-gradient(90deg, rgba(0,222,244,1) 0%, #004eff 100%);
                    color: white;
                    font-family: "Lexend Deca", sans-serif;
                    font-size: 1em;
                    outline: none;
                    box-shadow: 0px 5px 15px rgba(0,0,0,.2);
                    position: relative;

                    #overlay {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: white;
                        top: 0;
                        left: 0;
                        border-radius: inherit;
                        opacity: 0.0;
                        transition: .2s opacity;
                    }
                }

                #loadMoreButton:hover {
                    #overlay {
                        opacity: 0.3;
                    }
                }

                #loadMoreButton:active {
                    #overlay {
                        background-color: $primary-background;
                    }
                }
        }
    }


    #listContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;

        .listEntry {
            width: 16vw;
            height: 24vw;
            min-width: 100px;
            min-height: 150px;
            background-position: center;
            background-size: cover;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 2%;
            max-height: 378px;
            max-width: 250px;
            position: relative;
            box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);

            #overlay {
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $element-highlight;
                transition: .2s opacity;
                display: block;
                z-index: 1;
            }

            .queueButton {
                top: 5px;
                left: 2.5%;
                width: 2.5vw;
                height: 2.5vw;
                min-width: 20px;
                min-height: 20px;
                max-height: 35px;
                max-width: 35px;
                position: absolute;
                z-index: 2;
                border: none;
                outline: none;
                padding: 0;
                opacity: 0;
                border-radius: 5px;
                box-shadow: 0px 0px 10px rgba(0,0,0,.6);
                transition: .2s .2s width, .2s .2s max-width;

                .icon {
                    height:2.5vw;
                    width: 2.5vw;
                    min-width: 20px;
                    min-height: 20px;
                    max-height: 35px;
                    max-width: 35px;
                    left: 0;
                    border-radius: inherit;
                    background-position: center;
                    background-size: 60%;
                    background-repeat: no-repeat;

                    #label {
                        position: absolute;
                        color: $primary-text-color;
                        font-family: $primary-font;
                        height: 100%;
                        opacity: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.5em;
                        padding-left: 10px;
                        box-sizing: border-box;
                        transition: .2s opacity;
                    }
                }
            }

            .queueButton:hover {
                width: 95%;
                max-width: 95%;
                transition: .2s width;

                #label {
                    width: 100%;
                    opacity: 1;
                    transition: .2s .2s opacity;
                }
            }

            #queuedIndicator {
                background-color: green;
            
                #queuedIcon {
                    background-image: url('../../images/bookmark-icon.png');
                }
            }

            #queuedIndicator:hover {
                background-color: darkred;
            }

            #addToQueueButton {
                background: linear-gradient(90deg, rgba(0,222,244,1) 0%, #004eff 100%);

                #addIcon {
                    background-image: url('../../images/add-icon.png');
                }
            }

            #titleBar {
                background: $primary-background;
                background: linear-gradient(0deg, rgba(23,26,33,1) 25%, rgba(0,212,255,0) 100%);
                width: 100%;
                min-height: 15%;
                color: $primary-text-color;
                bottom: 0;
                position: absolute;
                display: flex;
                align-items: center;
                padding-left: 5%;
                box-sizing: border-box;
                font-family: $primary-font;
                text-shadow: 1px 2px black;
                font-size: $xsmall;
            }
        }

        .listEntry:hover {
            #overlay {
                opacity: .3;
            }
            #addToQueueButton {
                opacity: 1;
            }
            #queuedIndicator {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    #showListContainer{
        #listContainer {
            .listEntry {
                .queueButton {
                    .icon {
                        #label {
                            font-size: 0.65em;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 950px) {
    #showListContainer{
        #listContainer {
            .listEntry {
                .queueButton {
                    .icon {
                        #label {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    #showListContainer{
        #listContainer {
            #sectionWrapper {
                #sectionTitle {
                    font-size: $large;
                }
                #filtersSection {
                    #filter {
                        font-size: $small;
                    }
                }
            }
            .listEntry {
                #titleBar {
                    font-size: $small;
                }

                .queueButton {
                    .icon {
                        #label {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1250px) {
    #showListContainer{
        #listContainer {
            .listEntry {
                .queueButton {
                    .icon {
                        #label {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}