#videoPlayerContainer {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
    #videoPlayer {
        width: 480px;
        height: 270px;
        z-index: 1;
        outline: none;
    }

    #exitButton {
        z-index: 2;
        position: absolute;
        top: 4%;
        left: 2%;
        opacity: 0;
        transition: .3s opacity;
        background: none;
        outline: none;
        border: none;
        width: 15px;
        height: 15px;
        background-image: url('../../images/x.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#videoPlayerContainer:hover {
    #exitButton {
        opacity: 1;
    }
}