@import './variables';

#windowFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $primary-highlight;
    height: $windows-frame-height;
    z-index: 999;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    #buttonContainer {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        -webkit-app-region: no-drag;

        .button {
            width: 46px;
            height: 100%;
            transition: .2s background-color;
        }

        .button:hover {
            background-color: $element-highlight;
        }

        #close {
            background-image: url('../../images/exitIcon.png');
            background-color: transparent;
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
            transition: .2s background-color;
        }

        #close:hover {
            background-color:red;
        }

        #minimize {
            background-image: url('../../images/lineIcon.png');
            background-position: center;
            background-size: 40%;
            background-repeat: no-repeat;
        }

        #maximize {
            background-image: url('../../images/maximizeIcon.png');
            background-position: center;
            background-size: 35%;
            background-repeat: no-repeat;
        }
    }
}

#windowFrameContainer.darwin {
    height: $macos-frame-height;
    justify-content: flex-start;
    align-items: center;

    #buttonContainer {
        .button {
            width: 12px;
            height: 12px;
            background-color: $primary-background;
            border-radius: 6px;
            margin-left:8px;
        }

        #close {
            background-image: none;
            background-color: $primary-background;
            order: 1;
        }

        #minimize {
            background-image: none;
            order: 2;
        }

        #maximize {
            background-image: none;
            order: 3;
        }
    }

    #buttonContainer:hover {
        #close {
            background-color: red;
        }

        #minimize {
            background-color: yellow;
        }

        #maximize {
            background-color: green;
        }
    }
}

