@import './components/styles/_variables.scss';

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
  z-index: 998;
  display: flex;
  position: relative;
}

::-webkit-scrollbar-track {
  background-color: $primary-highlight;
}

::-webkit-scrollbar-thumb {
  background-color: $element-highlight;
}
